<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.ble.connectblue.chat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ConnectBlue</name>
    <description>
        A sample app to test ConnectBlue OBS419.
    </description>
    <author href="http://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
